.LayoutContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    width: 1136px;
    margin: auto;
}

.answers button {
    cursor: pointer;
}

.questionsList{
display: flex;
}

@media screen and (max-width:1024px){
    .LayoutContainer{
        width: auto;
    }
}
