.wrapper{
    background-color: #00796B;
    height: 70px;
}
.LayoutContainer{
    padding: 0 30px;
    width: 1136px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.spaceBetween{
    flex-grow: 1;
}

@media screen and (max-width:1024px){
    .LayoutContainer{
        width: auto;
    }
}