.wrapper{
    background-color: #212121;
    display: flex;
    color: #BDBDBD;
    height: 50px;
}
.homeBtn{
    flex-grow: 1;
    margin: 0 0 0 10px;
}
.loginBtn{
    margin: 0 10px 0 0;
}

.homeBtn a{
    color: #BDBDBD;
    text-decoration:none;
}