.img_label{
    height: 100px;
    width: 100px;

}
.card{
    background: #B2DFDB;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}
.card:hover{
    background: #607D8B;
}
.icons{
    margin: 5px;
}


